<div class="wish-books">
    <!--If there are wished books-->
    <div class="book">
        <div class="info-container-profile">
            <img src="./image/Beautiful-world.jpeg">
        </div>
        <div class="details-btn">
            <a href="#" class="details">Details</a>
        </div>
    </div>

    <div class="book">
        <div class="info-container-profile">
            <img src="./image/Unsettled-ground.jpeg">
        </div>
        <div class="details-btn">
            <a href="#" class="details">Details</a>
        </div>
    </div>

    <!--If there are no wished books-->
    <h2 class="no-record-in-profile">There are no book reviews found yet...</h2>
</div>