<li class="item">
    <header class="pad-med">
        <h2>Fishing Boat</h2>
    </header>

    <div class="align-center">
        <img class="img-thumb" src="/static/assets/boat.jpg">
    </div>

    <footer class="align-center pad-med">
        <p>Current price: <strong>$5000</strong></p>
        <a class="action" href="#">See details</a>
    </footer>
</li>